@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Public Sans",sans-serif;
}
.Banner{
    display: flex;
    padding: .75rem;
    background-color: #0b3d91;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 16px;
}
.banner{
    color: white;
    font-weight: 400;
    text-align: center;
    line-height: 1.65em;
}
.banner a{
    color: white;
    text-underline-offset: .3rem;
}




.channel{
    padding-top: 8px;
    position: relative;
    display: flex;
    justify-content: start;
}
.channel button{
    border: solid 1px #58585b;
    width: 50px;
    height: 50px;
    background: none;
    border-radius: 50%;
    margin-left: 12px;
    background-color: #58585b;
    
}
.channel button img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.channel button i{
    font-size: 32px;
    color: white;
}

.top4{
    background: url("../image/station.webp") no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    overflow: hidden;
    box-shadow: 424px -128px 128px  inset rgba(0, 0, 0 ,.7);
}
.grouptop4{
    display: flex;
    flex-direction: column;
}
.infonews{
    position: relative;
    padding: 96px 16px 0 16px;
}

.infonews h2{
    font-size: 40px;
    width: 100%;
    font-weight: 700;
    line-height: 1.05em;
}
.infonews p{
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
}
.cate-gory{
    text-transform: uppercase;
    font-family: 'Dm Mono';
    font-weight: 100;
    letter-spacing: 3.5px;
    font-size: 12px;
    margin-bottom: 20px;
}
.grouptop4 .infonews button{
    margin-top: 12px;
    margin-bottom: 96px;
    color: white;
    background-color: #d83933;
    border: none;
    font-size: 20px;
    font-weight: 800;
    padding: 8px 20px;
    border-radius: 4px;
    font-family: 'Inter';
    width: 100%;
}

.othernews{
    display: flex;
    position: relative;
    left: 12px;
    flex-direction: start;
    justify-content: center;
    flex-wrap: wrap;
}

.othernews .news{
    width: 100%;
    margin-right: 20px;
    border-top: 1px solid #58585b;
    padding: 16px 0;
}

.othernews .namenews{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.othernews .namenews > span{
    position: relative;
    left: 16px;
    vertical-align: middle;
}
.othernews .namenews > span > svg{
    color: #f64137;
    background-color: white;
    border-radius: 50%;
}

/*featured news*/
.feat-news{
    padding: 64px 56px;
}
.feathead{
    display: flex;
    flex-direction: column;
}
.feathead h2{
    font-size: 32px;
}
.feathead a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
.feathead span{
    vertical-align: middle;
}
.feathead span > svg{
    color: #f64137;
}
.groupblogs{
    position: relative;
    display: grid;
}
.blog-1{
    width: 100%;
    height: auto;
    color: #fff;
    position: relative;
    padding: 8px;
}

.blog-1 .content{
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px 0 24px 0 ;
}
.content-start{
    font-family: 'Dm Mono';
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 3px;
    position: relative;
    top: 24px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.content-end{
    margin: 0 auto;
    width: 90%;
    position: relative;
    top: -32px;
}
.content-end .min{
    font-family: 'Dm Mono';
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3.5px;
}
.content-end .namecontent{
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
}

.blog-1  img{
   object-fit: cover;
   width: 100%;
   height: 100%;
   display: block;
   margin: 24px 0 24px 0;
   filter: brightness(65%);
}

.otherblog{
    position: relative;
    top: 36px;
    display: flex;
    flex-direction: column;
}
.otherblog-1, .otherblog-2{
    display: flex;
    flex-direction: column;
}
.otherblog-1 .blog-2 + .blog-2, .otherblog-2 .blog-2 + .blog-2{
    margin-top: 32px;
    margin-bottom: 32px;
}
.blog-2{
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}
.blog-2 img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.blog-2 .content{
    padding: 0 24px;
}
.blog-2 .min{
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-family: 'Dm Mono';
}
.blog-2 .name-content{
    margin-top: 6px;
    font-weight: 700;
    font-size: 14px;
}
.blog-2 .article-type{
    display: flex;
    align-items: center;
    color: #58585b;
    margin-top: 6px;
    font-family: 'Dm Mono';
    letter-spacing: 3.5px;
}
.blog-2 .article-type .icon{
    font-size: 8px;
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: center;
    border: 1px solid #58585b;
    border-radius: 50%;
    margin-right: 6px;
}
.blog-1 .icon{
    font-size: 8px;
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 6px;
}

.blog-2 .article-type .icon svg, .blog-1 .icon svg{
    width: 8px;
    height: 8px;
}
/*featured news*/

/*featured story*/
.feat-story{
    width: 100%;
    height: auto;
    position: relative;
    zoom: 80%;
    background-size: cover;
    background: url("../image/featured-story/danne.webp") no-repeat center top;
    transition: .5s;
    box-shadow: 328px -336px 128px  inset rgba(0, 0, 0, 0.7);
    filter: brightness(80%);
}
.feat-story:hover{
    background-position: right top;
}

.feat-story .content{
    padding-top: 312px;
    padding-bottom: 192px;
    margin-left: 64px;
    position: relative;
    color: white;
}
.feat-story h2{
    width: 70%;
    font-size: 60px;
    line-height: 1em;
    font-weight: 700;
}
.feat-story p{
    margin-top: 64px;
    font-size: 20px;
    line-height: 33px;
}
.feat-story .linktoblog{
    margin-top: 40px;
    font-size: 28px;
}
.feat-story a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.feat-story svg{
    color: #f64137;
    background-color: white;
    border-radius: 50%;
    margin-left: 4px;
}
/*featured story*/

/*image of the day*/
.img-of-day{
    padding: 128px 24px;
    display: flex;
    flex-direction: column;
}
.img-of-day figure{
    position: relative;
    overflow: hidden;
    margin-top: 12px;
}
.img-of-day .content{
    position: relative;
}
.img-of-day .content p{
    font-weight: 700;
    letter-spacing: .5px;
    margin-top: 16px;
}
.img-of-day .content p + p{
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 16px;
}
.img-of-day .content a{
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.img-of-day figure img{
    position: relative;
    width: 100%;
}
.img-of-day .download{
    position: absolute;
    z-index: 12;
    border: none;
    color: white;
    background-color: rgb(28, 103, 227);
    font-size: 20px;
    padding: 4px 6px;
    border-radius: 50%;
    right: 0;
    margin: 12px;
    cursor: pointer;
}
.img-of-day figure a{
    color: black;
    text-decoration: none;
    position: relative;
    float: right;
    font-weight: 700;
}
.img-of-day .heading h3{
    text-transform: uppercase;
    font-family: 'Dm Mono';
    font-size: 12px;
    letter-spacing: 3.5px;
    font-weight: 300;
}
.img-of-day .heading h2{
    font-size: 32px;
}
.img-of-day span{
    vertical-align: middle;
}
.img-of-day span svg{
    color: #f64137;
}
/*image of the day*/

/* Earth */
.earth{
    background: url("../image/explore/Earth.webp") right;
    background-size: cover;
    position: relative;
    color: white;
    box-shadow: 328px -336px 128px  inset rgba(0, 0, 0, 0.7);
}
.earth .content{
    padding: 256px 0 128px 0;
    width: 80%;
    margin: 0 auto;
}
.earth h2{
    font-size: 36px;
}
.earth p{
    font-size: 14px;
    width: 90%;
    margin: 32px 0;
}
.earth a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}
.earth a span{
    margin-left: 4px;
    vertical-align: top;
}
.earth a svg{
    width: 14px;
    height: 14px;
    color: #f64137;
    background-color: #fff;
    border-radius: 50%;
}
/* Earth */

/* inbox */
.inbox{
    background: url('../image/inbox/tarantula.webp') center;
    background-size: cover;
    color: #fff;
}
.inbox .content{
    padding: 64px 0;
    width: 90%;
    margin: 0 auto;
}
.inbox h2{
    width: 80%;
    font-size: 28px;
}
.inbox p{
    font-size: 12px;
    font-weight: 700;
    margin-top: 32px;
    width: 80%;
}
.inbox p + p{
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 32px;
}
.inbox a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.inbox .content span{
    margin-left: 4px;
}
.inbox svg{
    width: 14px;
    height: 14px;
    color: #f64137;
    background-color: #fff;
    border-radius: 50%;
}
/*inbox*/

/*more topic*/
.more-topic{
    padding: 24px;
}
.more-blog {
    display: grid;
    grid-template-columns: 50% 50% 50% 50%;
    grid-template-rows: 100%;
    gap: 16px;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 20px;
}
.more-topic .blog{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 16px;
    background-size: cover;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    padding: 80% 32% 8% 6%;
    box-shadow: 128px -136px 128px  inset rgba(0, 0, 0, 0.7);
}

.b-1{
    background: url("../image/more-topic/mission.jpg") center;
}
.b-2{
    background: url("../image/more-topic/hm-in-space.webp") center;
}
.b-3{
    background: url("../image/more-topic/native.webp") center;
}
.b-4{
    background: url("../image/more-topic/value.jpg") center;
}

.more-blog span{
    margin-left: 4px;
}
.more-blog span svg{
    width: 20px;
    height: 20px;
    color: #f64137;
    background-color: #fff;
    border-radius: 50%;
}
.more-topic .heading{
    padding: 0 0 0 6%;
}
.more-topic .heading h2{
    margin-top: 16px;
}
.more-topic .heading .label{
    font-family: 'Dm Mono';
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 500;
    color: #58585b;
    letter-spacing: 3.5px;
}

@media  screen and (min-width: 700px) {
    .grouptop4 .infonews button{
        width: auto;
    }
    .blog-1 img{
        margin: 0;
    }
    .content-start{
        top: 0px;
    }
    .content-end{
        top: -48px;
    }
    .item-1{
        grid-column: 1/ span 2;
        grid-row: 1 / span 2;
    }
    .item-2{
        grid-column: 1;
        grid-row: 3 / span 4;
    }
    .item-3{
        grid-column: 2;
        grid-row: 3;
    }
    .item-4{
        grid-column: 2;
        grid-row: 4;
    }
    .otherblog-1, .otherblog-2{
        flex-direction: row;
    }
    .otherblog-1 .blog-2 + .blog-2, .otherblog-2 .blog-2 + .blog-2{
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .feat-story h2{
        font-size: 96px;
    }
    .img-of-day .heading{
        order: 1;
    }
    .img-of-day .content{
        order: 1;
        margin-top: 32px;
    }
    .earth h2{
        font-size: 64px;
    }
    .inbox h2{
        font-size: 48px;
    }
    .more-blog {
        display: grid;
        position: relative;
        grid-template-columns: 45% 45%;
        grid-template-rows: auto auto;
        overflow: hidden;
        gap: 16px;
        justify-content: center;
    }
    .more-blog .blog{
        padding: 120% 32% 8% 6%;
    }
    .more-topic .heading h2{
        font-size: 32px;
    }
}
@media screen and (min-width: 1024px){
    .feat-news{
        padding: 64px 72px;
    }
    .feathead{
        flex-direction: row;
        justify-content: space-between;
    }
    .feathead h2{
        font-size: 48px;
    }
    .grouptop4{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .channel{
        width: 50%;
        position: relative;
        text-align: right;
        align-self: flex-end;
        top: 64px;
        margin-right: 24px;
        justify-content: end;
    }
    .infonews h2{
        width: 70%;
        font-size: 72px;
    }
    .infonews p{
        width: 70%;
    }
    .othernews{
        justify-content: start;
    }
    .othernews .news{
        width: 22%;
    }
    .content-start{
        top: 24px;
    }
    .blog-1 img{
        margin: 24px 0 24px 0;
    }
    .item-1{
        grid-column: 1/ span 2;
        grid-row: 1 / span 2;
    }
    .item-2{
        grid-column: 3;
        grid-row: 1 / span 2;
    }
    .item-3{
        grid-column: 4;
        grid-row: 1;
    }
    .item-4{
        grid-column: 4;
        grid-row: 2;
    }
    .otherblog{
        flex-direction: row;
    }
    .otherblog-1 .blog-2 + .blog-2, .otherblog-2 .blog-2 + .blog-2{
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .feat-story h2{
        width: 40%;
    }
    .feat-story p{
        width: 38%;
        font-size: 22px;
    }
    .feat-story{
        box-shadow: 720px -128px 720px inset rgba(0, 0, 0, 0.7);
    }
    .img-of-day{
        display: grid;
        grid-template-columns: auto 16% 16%;
        grid-template-rows: 16% 100%;
        padding: 128px 128px;
    }
    .img-of-day figure{
        order: 1;
        grid-row: 1 / 2 span;
        grid-column: 2 / 3 span;
    }
    .img-of-day .heading{
        order: -1;
        grid-row: 1;
        grid-column: 1;
        width: 90%;
    }
    .img-of-day .heading h2{
        font-size: 40px;
    }
    .img-of-day .content{
        order: 0;
        grid-row: 2;
        grid-column: 1;
        width: 90%;
    }
    .img-of-day .content p{
        font-size: 20px;
    }
    .img-of-day .content p + p{
        font-size: 16px;
        line-height: 1.5rem;
        letter-spacing: .25px;
        width: 95%;
    }
    .earth h2{
        width: 50%;
    }
    .lastest .groupblogs{
        grid-template-columns: 28% 28% auto auto;
    }
    .lastest .item-2{
        grid-column: 3 / 4 span;
    }
    .inbox .content{
        padding: 128px 0 64px 48px;
    }
    .inbox h2{
        width: 30%;
    }
    .inbox p{
        width: 34%;
    }
    .more-blog{
        grid-template-columns: 22% 22% 22% 22%;
        grid-template-rows: 100%;
    }
    .more-blog .blog{
        font-size: 32px;
    }
    .more-blog .topic{
        height: auto;
    }
}

@media  screen and (min-width: 1800px) {
    .feat-story{
        zoom: 100%;
    }
    .feat-news{
        padding: 64px 512px;
    }
    .img-of-day{
        display: grid;
        padding: 128px 312px;
    }
}
